.Navbar ul {
    display: flex; 
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.Navbar ul li{
    list-style-type: none;    
}

.Navbar ul li:first-of-type {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bolder;
}

.Navbar {
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 0.3s;
}

.Navbar button {
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.dark-mode {
    background-color: black !important;
    color: white !important;
    transition: 0.3s !important;
}

.white-mode {
    background-color: white !important;
    transition: 0.3s !important;
    color: black !important;
}